@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sono:wght@200..800&display=swap');
@import url('https://arch.the-jzt.de/fonts/consolas.ttf');
:root {
    --help-color: #d52eff;
    --warning-color: #ff2222;
    --main-color: #21df40;
    --background-color: #15171a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    user-select: none;

    scrollbar-width: thin;           
    scrollbar-color: rgba(160, 160, 160, 0.7) transparent; 
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 8px;
}

html {
    zoom: 90%;
}
body {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}
input, textarea, button, select {
    line-height: 1.0;
    resize: unset;
    overflow: hidden;
    min-height: max-content;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

input[type="data"]::-webkit-calender-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="data"] {
    appearance: none;
}

.monospace {
    font-family: "Consolas", monospace !important;
}

.show-help-form {
    z-index: 9999;
    color: var(--help-color);
    display: inline-flex;
    position: fixed;
    gap: 10px;
    font-size: 20px;
    box-sizing: 20px;
    top: 0px;
    padding: 20px;
    right: 20px;
}


.show-help-form input {
    display: none;
}

.show-help-form .checkmark {
    border: var(--help-color) 1px solid;
    height: 20px;
    width: 20px;
}

.show-help-form .checkmark::before,
.show-help-form .checkmark::after {
    z-index: 0;
    content: "";
    position: absolute;
    bottom: 19.5px;
    right: 147.5px;
    background-color: transparent;
    height: 26px;
    width: 1px;
}

.show-help-form:hover {
    cursor: pointer;
}

.show-help-form input:hover + .checkmark::before,
.show-help-form input:hover + .checkmark::after {
    background-color: color-mix(in srgb,var(--help-color) 30%, black) !important;
}

.show-help-form input:hover:checked + .checkmark::before,
.show-help-form input:hover:checked + .checkmark::after {
    background-color: color-mix(in srgb,var(--help-color) 80%, black) !important;
}

.show-help-form input:checked + .checkmark::before,
.show-help-form input:checked + .checkmark::after {
    background-color: var(--help-color);
}

.show-help-form .checkmark::before {
    transform: rotate(45deg);
}

.show-help-form .checkmark::after {
    transform: rotate(-45deg);
}

.alert-box {
    z-index: 9998;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(131, 131, 131, 0.116);
    
}

.alert-box .title i {
    font-size: 25px;
    margin-right: 7px;
}

.alert-box .content {
    position: relative;
    flex-direction: column;
    display: flex;
    border-radius: 10;
    padding: 10px;
    background-color: #15171a;
    height: max-content;
    width: 500px;
    
}

.alert-box .content button {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    right: 0px;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    outline: var(--main-color) 1px solid;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.alert-box button:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: black;
}

.friends-total {
    font-size: 30px;
    display: block;
    position: relative;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 20px;
    width: max-content;
    padding: 3px 12px;
    border: white 1px solid;
    border-radius: 3px; 
}

.friends-total span {
    top: 0px;
}

input::placeholder, textarea::placeholder {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}
.focus {
    color:rgb(228, 228, 228) !important;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    color:rgb(255, 255, 255) !important;
}

input, textarea {
    flex: 1;
    height: max-content;
    background: transparent;
    border: 0;
    outline: 0;
    color: #ffffffa8;
    width: 100%;
}
.tutorial {
    color: #f5f5f5;
    border-radius: 6px;
    padding: 10px;
}

.reading-goals .tutorial {
    margin: 10px 0px 17px 0px;
}

.select-book-preset .tutorial{
    margin: 24px 0px 0px 0px;
}

.tutorial legend {
    padding: 0px 4px 0px 4px;
}

.help {
    display: var(--show-help);
    border: var(--help-color) 3px dotted;
}

.help legend {
    color: color-mix(in srgb, var(--help-color) 70%, white);
}

.warning {
    border: var(--warning-color) 3.5px dotted;
}

.warning legend {
    color: color-mix(in srgb, var(--warning-color) 70%, white);
}

.tutorial p {
    font-size: 15px;
}


.title {
    font-size: 30px;
    color: white;
}

.close i {
    width: 30px;
    color: #adadad;
    font-size: 30px;
    background: transparent;
    border: 0;
    outline: 0;
}
.close {
    position: absolute;
    top: -10px;
    right: -5px;
}
.friend button.close i:hover {
    cursor: pointer;
    color: #940000;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}
.friend input {
    position: relative;
    font-size: 50px;
}
input.title:hover + .input-underline, input.title:focus + .input-underline {
    background-color: rgb(184, 184, 184) !important;
}
.input-underline {
    position: relative;
    left: -4px;
    width: 80%;
    height: 3px;
    background: #707070a4;
    border-radius: 0.5px;
    transition: background-color 0.2s ease-in-out;
}

.selected-color {
    z-index: 2;
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    box-shadow: rgb(255, 255, 255) 5px 5px 0;
    --time: 0.2s;
    transition: bottom var(--time) ease, right var(--time) ease, box-shadow var(--time) ease;
}

.selected-color:hover, .selected-color.selected {
    cursor: pointer;
    position: relative;
    bottom: 5px;
    right: 5px;
    box-shadow: rgb(255, 255, 255) 6px 6px 0;
}

.color-picker-title {
    position: absolute;
    top: -38px;
    left: -12px;
    font-size: 14px;
}

.color-picker-main {
    position: absolute;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--background-color);
    box-shadow: var(--main-color) 5px 5px 0;
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    z-index: 1;
    gap: 10px;
}
.color {
    z-index: 3;
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    --time: 0.2s;
    transition: right var(--time) ease, bottom var(--time) ease, box-shadow var(--time) ease;
}

.color.cross::after {
    position: absolute;
    content: "";
    height: 142%;
    left: 45%;
    
    bottom: -7px;
    width: 3px;
    background-color: var(--background-color);
    transform: rotate(45deg);
}

.color:hover {
    cursor: pointer;
}

.color:hover, .color.selected {
    bottom: 4px;
    right: 4px;
    box-shadow: rgb(255, 255, 255) 4px 4px 0;
}

.main-title {
    color: #e024ca;
    max-width: max-content;
    margin: 30px auto 60px auto;
    font-size: 50px;
}
body {
    text-align: center;
    color: azure;
    background-color: #15171a;
}
div.setup-friends {
    border-left: #df21cf 1px dotted;
    margin: 0px auto 0px auto;
    --gap: 50px;
    display: flex;
    gap: var(--gap);
    min-height: 700px;
    padding: 50px;
    box-sizing: border-box;
    width: 90%;
    justify-content: flex-start;
    overflow-x: auto;
}
.col {
    padding: 20px;
    --col-width: 550px;
    position: relative;
    color: #ffffffa8;
    width: var(--col-width);
    min-height: 900px;
    flex: 0 0 var(--col-width);
    box-sizing: border-box;
    margin-bottom: 10px;
}
.friend {
    text-align: left;
}
.friend input.title  {
    margin-top: 40px;
    color: #ffffff;
}
.friend:not(:last-child)::after {
    content: "";
    position: absolute;
    top: -70px;
    right: calc((var(--gap) / -2) - (var(--line-width) / 2));
    --line-width: 8px;
    width: var(--line-width);
    height: 109%;
    --background-color: #758292;
    background: var(--background-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
.add-friend {
    --col-width: 200px !important;
    display: flex;  
    justify-content: center;
    
}
.add-friend .fa-square-plus {
    color: rgb(230, 88, 230);
    font-size: 150px;
}
.add-friend .fa-square-plus:hover {
    cursor: pointer;
}
.col.add-friend[hidden] {
  display: none !important;
}
.bookinfos-title {
    margin-top: 30px;
}

.book-preset {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
.book-preset span {
    width: max-content;
    color: #ffffffa8;
    font-size: 18px;
    cursor: pointer;
    outline: var(--main-color) 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}
.book-preset input[type="radio"]:not(:checked) + span:hover {
    outline: var(--main-color) 3px solid;
    color: white;
}
.book-preset input[type="radio"] {
    display: none; 
}
.book-preset input[type="radio"]:checked + span {
    background-color: var(--main-color);
    color: #15171a;
}
.book-preset i {
    position: relative;
    top: 2px;
    color: inherit;
    background-color: inherit;
}
.search-box {
    width: 100%;
    background: transparent;
    border: 1px solid var(--main-color);
    margin: 22px auto 0;
    border-radius: 5px;
}
.row input {
    height: 40px;
    font-size: 18px;
}
.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}
button .fa-repeat{
    width: 25px;
    color: var(--main-color);
    font-size: 13px;
    cursor: pointer;
}
.book-preset::placeholder {
    color: #ffffffa8;
    
}
.result-box ul li span .book-properties {
    font-size: 30px;
    color: red !important;
    white-space: nowrap;
    overflow-wrap: normal;
    word-break: keep-all;
}
.result-box ul{
    border-top: 1px solid var(--main-color);
    padding: 10px 10px;
    color: #ffffffa8;
}
.result-box ul li{
    display: flex;
    list-style: none;
    border-bottom: 1px solid var(--main-color);
    padding: 15px 10px;
}
.result-box ul li img{
    margin-right: 10px;
    height: max-content;
    max-width: 80px;
}
.result-box li:hover:not(.no-hover){
    background: #758292;
}
.result-box ul li a{
    text-decoration: none;
    color: #ffffffa8;
}
.result-box ul li a:hover{
    cursor: pointer;
}
.result-box ul li .text {
    overflow: hidden;
    text-overflow: ellipsis;
    background: inherit;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
}
.book-properties {
    background: inherit;
    margin: 9px 0px 0px 0px;
}
.result-box .book-propti {
    padding: 0px;
    background: inherit !important;
    overflow: hidden;
    line-height: 0.9em;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
}

.result-box .book-propti:not(:last-child)::after {
    content: " ‧ ";
    position: relative;
    right: 5px;
}

.result-box ul li .book-descrption {
    background: inherit;
    display: -webkit-box;
    -webkit-box-orient:  vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    line-height: 1.4em;
    max-height: calc(1.4em * 4);
    font-size: 12px;
    margin-top: 5px;
    
}
.result-box .book-title{
    color: white;
    background: inherit;
    font-weight: 700;
    font-size: 20px;
}
.show-more a:hover {
    color: color-mix(in srgb, var(--main-color) 70%, black)
}
.book-proptie-p{
    background: inherit;
    font-size: 9px;
}


.select-custom-book-preset {
    margin: 20px auto;
}
.select-custom-book-preset label {
    color: #ffffffa8;
    font-size: 20px;
}
.select-custom-book-preset .book-title label {
    position: relative;
    top: 3px;
    right: var(--label-offset);
}
.select-custom-book-preset .book-title {
    margin-right: 20px;
}
.select-custom-book-preset .book-title-i {
    font-size: 40px;
    --label-offset: 10px;
    position: relative;
    left: var(--label-offset);
}
.book-title-underline, .book-input-underline {
    position: relative;
    bottom: 3px;
    left: calc(var(--label-offset) - 6px);
    width: 80%;
    height: 2px;
    background-color: #707070a2;
    margin-bottom: 10px;
}
.book-input-underline {
    width: 88% !important;
}
.select-custom-book-preset .book-properties input, textarea {
    display: flex;
    align-items: flex-start;
    font-size: 35px;
    width: 100%;
}
.select-custom-book-preset .book-descrption {
    font-size: 15px;
    overflow-y: scroll !important;
}
.book-cover {
    position: relative;
    display: inline-block;
    width: 160px;
    height: min-content;
    overflow: hidden;
    box-shadow: var(--main-color) 10px 10px 0px;
}
.book-cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 141, 141, 0.589);
    backdrop-filter: blur(2px);
    opacity: 0;
    z-index: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: clamp(1px, 20%, 70px);
}
.book-cover .overlay img {
    background-color: transparent;
    width: 80px;
}
.book-cover .overlay a {
    position: absolute;
    bottom: 0px;
    padding: 2px;
    background-color: transparent;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 9px;
}

.book-cover .overlay input {
    font-size: 10px;
}
.book-cover .overlay form, .book-cover .overlay span {
    min-width: 25px;
    min-height: 25px;
    background-color: rgba(212, 212, 212, 0.144);
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    padding: 5px 5px 0px 5px;
}

.book-cover .overlay label {
    background-color: transparent;
}

.book-cover .overlay input {
    display: none;
}

.book-cover .overlay form:hover, .book-cover .overlay span:hover {
    background-color: rgba(212, 212, 212, 0.5);
}
.book-cover .overlay form i, .book-cover .overlay span i {
    font-size: 19px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.book-cover-img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 0;
}
.book-cover:hover .overlay:not(.no-hover), .book-cover .loading.overlay {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.book-cover:hover .overlay:not(.no-hover) + .overlay.no-hover {
    display: none;
}

.book-properties-fields {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.book-properties-fields .book-cover {
    flex-grow: 0;
    flex-shrink: 0;
    object-fit: contain;
    
}

.reading-goals {
    margin-top: 20px;
}
.reading-goals-form {
    display: flex;  
    flex-direction: column;
    flex-grow: 0;
}
.reading-goals-form .inputs {
    display: flex;
    flex-direction: row;
}
.reading-goals-form textarea, .reading-goals-form {
    font-size: 30px;
}

.reading-goals-form span {
    margin: 0px 20px;
}

.reading-goals-form:has(textarea:focus) + .total-pages-div {
    color: white;
}  

.reading-goals-form textarea {
    align-items: flex-start;
    padding: 5px;
    border: white 1.5px dotted;
    border-radius: 5px;
    max-width: 100px;
    box-sizing: content-box;
}

.reading-goals-form textarea::placeholder {
    text-align: left;
    font-size: 18px;
}

.select-reading-goals {
    margin-top: 4px;
    display: flex;
    gap: 30px
}

.total-pages-div {
    
    display: flex;
    flex-direction: column;
}

.total-pages-div .label {
    font-size: 20px;
}

.total-pages {
    margin-top: 0px;
    font-size: 55px;
}


.pixelify {
    font-family: "Pixelify Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}  
.sono {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}
.courier-prime {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

